:root {
  --primary-color: #0d2c54; /* Deep blue from logo */
  --secondary-color: #f87060; /* Orange/coral from logo */
  --light-gray: #f2f2f2;
  --gray: #ccc;
  --dark-gray: #333;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
